extends ../layout/index

block contenido 
    .py-10 
        h2.text-center.font-extrabold.my-10.text-4xl.text-indigo-600 Bienes
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl=page

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5.px-6
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-nold Correo Electrónico:
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(type="email" placeholder="ej. usuario@dominio.com" email="correo")

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-nold Contraseña:
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(type="password" placeholder="Escribe tu contraseña." password="pass_usuario")

                    div.flex.items-center.justify-between 
                        a.text-gray-500.text-xs(href="/auth/createAccount" class="hover:underline decoration-2 hover:decoration-red-600") ¿No tienes cuenta? Crear Cuenta 
                        a.text-gray-500.text-xs(href="/auth/passwordRecovery" class="hover:underline decoration-2 hover:decoration-red-600") Olvidé mi contraseña  

                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Ingresar")

                    