extends ../layout/index

block contenido 
    .py-10 
        h2.text-center.font-extrabold.my-10.text-4xl.text-indigo-600 Bienes
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl=page

        .mt-8 
            .bg-white.py-8.px-4.shadow