extends ../layout/index

block contenido 
    .py-10 
        h2.text-center.font-extrabold.my-10.text-4xl.text-cute_purple-100 Bienes
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl=page

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5.px-6(method="POST" action='/auth/createAccount')
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-nold Nombre Completo:
                        input#name.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(type="text" placeholder="Ingresa tu nombre con apellidos" name="nombre_usuario")

                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-nold Correo Electrónico:
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(type="email" placeholder="Ej. usuario@dominio.com" email="correo")

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-nold Contraseña:
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(type="password" placeholder="Mínimo de 8 carácteres." password="pass_usuario")

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-nold Confirmación de Contraseña:
                        input#password-confirm.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(type="password" placeholder="Repite la contraseña." password-confirm="pass2_usuario")

                    div.flex.items-center.justify-between 
                        a.text-gray-500.text-xs(href="/auth/login" class="hover:underline decoration-2 hover:decoration-cute_purple-200") ¿Ya tienes cuenta? Inicia Sesión 
                        a.text-gray-500.text-xs(href="/auth/passwordRecovery" class="hover:underline decoration-2 hover:decoration-cute_purple-200") Olvidé mi contraseña  

                    input(class="w-full bg-cute_purple-100 hover:bg-cute_purple-200 text-white font-bold py-3 cursor-pointer" type="submit" value="Crear Cuenta")

